.mainContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: 4vh;
    left: 5.5vw;
    width: 20vw;
    cursor: pointer;
}

.mainBackground{
    object-fit: cover;
    width: 100%;
    opacity: 20%;
    background-color: #263139;
    top: 0px;

}

.leftContainer{
    position: absolute;
    top: 0vh;
    width: 73vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.rightContainer{
    position: absolute;
    top: 0vh;
    left: 70vw;
    width: 27vw;
    height: 100vh;

}

.titleRectangle{
    position: absolute;
    top: 34vh;
    left: 14.5vw;
    height: 16vh;
    width: 0.5vw;   
    background: #FADD8F;
}

.ratingCircle {
    position: absolute;
    top: 34vh;
    left: 16vw;
    height: 3.2vh;
    width: 3.2vh;
    border-radius: 50%;
    border: 0.39vh solid white;
    text-align: center;
    font-size: 2vh;
    color: white;
}

.ratingCircle p{
    margin-top: 18%;
    margin-left: 13%;
    letter-spacing: 0.14em;
    font-weight: 100;
}

.bestMatch{
    position: absolute;
    top: 35vh;
    left: 19vw;
    font-size: 2vh;
    letter-spacing: 0.14em;
    color: white;
}

.titleContainer{
    width: 40vw;
    position: absolute;
    top: 39vh;
    left: 16vw;
    font-size: 8vh;
    font-family: Helvetica Neue;
    color: white;
    line-height: 8vh;
}

.titleContainer p{
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.textContainer{
    margin-top: 56.11vh;
    margin-left: 16vw;
    font-family: 'Lato', sans-serif;
    width: 50vw;
    margin-bottom: 10px;
}

.actors{
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    font-weight:100;
    font-size: 2vh;
}

.synopsis{
    font-size: 2.2vh;
    color: rgba(255, 255, 255, 0.9);
    font-weight:100;
    font-style: normal;
}

.buttonContainer{
    display:flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 16vw;
}

.buttonContainer button{
    border-radius: 35.7096px;
    border: none;
    width: 9vw;
    height: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    margin-right: 1vw;
    cursor:pointer;
}

.leftButton{
    background: #181E22;
}

.leftButton{
    background: #181E22;
}

.leftButton{
    background: #181E22;
}

.homeButton{
    position: absolute;
    top: 5.5vh;
    left: 13vw;
    border: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: 0.2333em;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', sans-serif;
    font-size: 1.4vh;
}

.listContainer{
    position: absolute;
    left: 3vw;
    top: 9vh;
}

.dramaFrame{
    width: 20vw;
    height: 21.3vh;
    background: #263139;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    margin-bottom: 1.2vh;
    overflow: hidden;
    position: relative;
}

.imageTitleBackground{
    position: absolute;
    background: rgba(38, 49, 57, 0.4);
    color: white;
    top: 17vh;
    height: 5vh;
    width: 20vw;
    
}

.imageTitle{
    width: 100%;
    margin-top: 1vh;
    letter-spacing: 0.12em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Helvetica Neue;
    font-size: 1.4vh;
    font-weight: bold;
    margin-left: 1.3vw;
}

.selector{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background:rgba(193, 213, 251, 0.7);
    opacity: 0%;
    outline:none;
    border:none;
}

.selector:hover{
    opacity: 100%;
    cursor: pointer;
}

.selectorRectangle{
    position: absolute;
    top: 5.5vh;
    left: 18.5vw;
    height: 10vh;
    width: 0.4vw;
    background-color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.selected{
    opacity: 100%;
}

.dramaImage{
    width: 110%;
    margin-left: 50%;
    -webkit-transform:  translateX(-50%);
}

