.Home {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #263139;
}
  
.Loading{
    height: 100%;
}

.Row{
    flex-direction: row;
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}
  